body
{
	min-height:200px;
	min-width:1000px;
	background:-webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(117, 117, 117) 50%, rgb(175, 183, 175) 80%);
background:-o-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(117, 117, 117) 50%, rgb(175, 183, 175) 80%);
background:-moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(117, 117, 117) 50%, rgb(175, 183, 175) 80%);
background:linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(117, 117, 117) 50%, rgb(175, 183, 175) 80%);
}
.container
{
	left:100px;

	position:absolute;
	top:100px;
	width:90%;
	opacity:0.7;
	height:900px;
	border-radius:25px 25px 25px 25px;
}
.vertical-menu {
	position:absolute;
	top:0px;
  left:0px;
  width: 80px;
  height:600px; 
 font-size:40px;
}

.vertical-menu a {
  background-color: #302B26;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
  
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #302B26;
  color: white;
}
.fenticontainer
{
	position:absolute;
	top:0;
	height:74px;
	width:94%;
	left:80px;
	
	font-size:30px;
	color:#302B26;
		
	background:-webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(117, 117, 117) 50%, rgb(175, 183, 175) 80%);
background:-o-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(117, 117, 117) 50%, rgb(175, 183, 175) 80%);
background:-moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(117, 117, 117) 50%, rgb(175, 183, 175) 80%);
background:linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(117, 117, 117) 50%, rgb(175, 183, 175) 80%);
}
.ido
{
	position:absolute;
	top:20px;
	float:right;
	right:50px;
	text-align:right;
	font-size:30px;
	color:#302B26;
}


.stick
{
	background:yellow;
position:relative;
height:190px;
width:160px;	
border-radius:15px 0 0 15px;
}

.tarolo
{
	float:right;
	position:relative;
	right: 20px;

	height:auto;
	width:90%;
	top:100px;
	background:#A4F4E9;
	opacity:0.5;
border-top:0px solid #2eb9ce;
border-right:23px solid #2eb9ce;
border-bottom:0px solid #2eb9ce;
border-left:0px solid #2eb9ce;
}
.tarolobal
{
	float:left;
	position:relative;
	left: 110px;

	height:30%;
	width:90%;
	top:150px;
	background:#A4F4E9;
	opacity:0.5;
border-top:0px solid #2eb9ce;
border-right:0px solid #2eb9ce;
border-bottom:0px solid #2eb9ce;
border-left:23px solid #2eb9ce;
}
.taroloka
{
	float:right;
	position:relative;
	right: 20px;

	height:auto;
	width:90%;
	top:100px;
	background:#A4F4E9;
	opacity:0.5;
border-top:0px solid #2eb9ce;
border-right:23px solid #2eb9ce;
border-bottom:0px solid #2eb9ce;
border-left:0px solid #2eb9ce;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.tablazat
{
border-top:4px solid #2eb9ce;
border-right:0px solid #2eb9ce;
border-bottom:4px solid #2eb9ce;
border-left:20px solid #2eb9ce;
width:70%;
background-color:white;


-----other style-----

border-width:4px 0px 4px 20px;
border-style:solid solid solid solid;
border-color:#2eb9ce #2eb9ce #2eb9ce #2eb9ce;}

